@import url('https://fonts.googleapis.com/css2?family=Advent+Pro&family=Dancing+Script&display=swap');

/* font-family: 'Advent Pro', sans-serif; */

*{
    margin :0;
    padding : 0;            
    box-sizing: border-box;  
    list-style-type: none;
    text-decoration: none;
}

body{
    background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);    
}

ul{
    display: flex;
    justify-content: space-around;
    gap: 15px;
    flex-wrap: wrap;
    margin-top: 20px;
    line-height: 30px;
    
}

ul a{
    text-decoration: none;
    color: #7044FD;
    font-size: 1.8rem;
    font-family: 'Dancing Script', cursive;
}

ul a:hover{
    opacity: 0.6;
    text-decoration: underline;
}

.section1{
    padding-bottom: 40px
}

.section1 img{
    width: 100%;
    object-fit: cover;
    border-radius: 5%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.397);
    transition: 0.8s;
    cursor: pointer;
    margin: 50px 10px 0 10px;
}

.section1 h3{
    text-align: center;
    font-size: 1.4rem;
    margin-top: 10px;
    color: #7044FD;
}

@media screen and (min-width: 558px){
    .section1 img{
        width: 70%;
    }
    .section1 h3{
        text-align: left;
        margin-left: 18px;
    }
}

@media screen and (min-width: 750px){
    .section1 img{
        width: 50%;
    }
}

@media screen and (min-width: 900px){
    .section1 h3{
        font-size: 1.4rem;
    }
}

