@import url('https://fonts.googleapis.com/css2?family=Advent+Pro&family=Dancing+Script&display=swap');

/* font-family: 'Advent Pro', sans-serif; */

*{
    margin :0;
    padding : 0;            
    box-sizing: border-box;  
    list-style-type: none;
    text-decoration: none;
}

body{
    background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);    
}

ul{
    display: flex;
    justify-content: space-around;
    gap: 15px;
    flex-wrap: wrap;
    margin-top: 20px;
    line-height: 30px;
    
}

ul a{
    text-decoration: none;
    color: #7044FD;
    font-size: 1.8rem;
    font-family: 'Dancing Script', cursive;
}

ul a:hover{
    opacity: 0.6;
    text-decoration: underline;
}

.section1 img{
    height: 200px;
    width: 250px;
    margin-left: 40px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.397);
    transition: 0.8s;
    cursor: pointer;
    margin-top: 50px;
}

.section1 h3{
    text-align: center;
    font-size: 1.7rem;
}
