@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    margin :0;
    padding : 0;            
    box-sizing: border-box;  
    /* text-decoration: none; */
}
body{
    font-family: 'Open Sans', sans-serif;
    background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);  
}


/***************Header*******************/
header .logo{
    height: 40px;
    text-align: center;
    padding: 15px 0 0 0;
    position: relative;
}
  
header .logo .arrow{
    position: absolute;
    top: 15px;
    margin-left: 30px;
    font-size: 20px;
}

.fa-arrow-left{
    color: #7044FD;
}
h1{
    color: #7044FD;
    font-family: 'Comic Neue', cursive;
    font-size: 1.3rem;
    padding-left: 50px;           
}

/*****************Section 1****************/
main{
    margin-top: 30px;
    padding-bottom: 20px;
}

.section1{
    margin: 10px 0 0 10px;
}
.section1 p{
    font-size: 0.9rem;
}

.section1 .flex{
    display: flex;
}
.section1  p{
    margin-right: 15px;
}
.image1{
    object-fit: cover;
    height: 220px;
    width: 40%;
    margin-top: 40px;
    margin-left: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.397);
    border-radius: 20px;
}

/*****************aside avec section 2************/
aside{
    display: flex;
}

.section2 h2{
    font-size: 1rem;
    margin-bottom: 5px;
}
.section2 .ingredients{
    margin-left: 50px;
    margin-top: 50px;
}
.section2 ul{
    font-size: 0.9rem;
    list-style-type: none;
}

/********************Section 3**************/
.section3{
    margin-left: 10px;
}
.section3 h2{
    font-size: 1rem;
    margin-bottom: 5px;
    margin-left: 10px;
}
.section3 nav{
    text-align: justify;
    margin: 10px;
}

.section3 ol{
    font-size: 0.9rem;
    list-style: none;
}  

.section3 li{
    margin-top: 10px;
}
.section3 .preparation{
    margin-top: 10px;
}

/*************Responsive**************/  
@media screen and (min-width: 558px){
    h1{
        font-size: 1.5rem;
    }
    .section1 {
        margin: 30px 0 0 10px;
    }
    .section1 p {
        font-size: 0.9rem;
        margin-right: 35px;
    }
    .image1{
        margin-top: 30px;
    }
   
    .section2 h2{
        font-size: 1.1rem;
    }
    .section2 ul {
        font-size: 0.9rem;
    }
    
    .section3 h2 {
        font-size: 1.1rem;
        margin-left: 30px;
    }
    .section3 ol {
        font-size: 0.9rem;
    }
    .section3 nav {
        margin: 10px 30px;
    }
    
}

@media screen and (min-width: 700px){
    header .logo .arrow {
        top: 20px;    
    }
    header .fa-arrow-left{
        font-size: 1.8rem;
    }
    h1{
        font-size: 1.9rem;
    }
    .section1 p {
        font-size: 1.2rem;
    }

    .image1{
        height: 300px;
    }
    .section2 h2{
        font-size: 1.5rem;
    }
    .section2 ul {
        font-size: 1.2rem;
    }
    
    .section3 h2 {
        font-size: 1.5rem;
        margin-left: 30px;
    }
    .section3 ol {
        font-size: 1.2rem;
    }
   
}

@media screen and (min-width: 980px){
    header .logo .arrow {
        top: 30px;    
    }
    h1{
        font-size: 2.2rem;
    }
    .section1 p {
        font-size: 1.5rem;
    }
    .section1 {
        margin: 60px 0 0 10px;
    }
    .image1{
        height: 400px;
    }
    
    
    .section2 h2{
        font-size: 1.8rem;
    }
    .section2 ul {
        font-size: 1.5rem;
    }
    
    .section3 h2 {
        font-size: 1.8rem;
    }
    .section3 ol {
        font-size: 1.5rem;
    }

}