@import url('https://fonts.googleapis.com/css2?family=Advent+Pro&family=Dancing+Script&display=swap');

/* font-family: 'Advent Pro', sans-serif; */

*{
    margin :0;
    padding : 0;            
    box-sizing: border-box;  
    list-style-type: none;
    text-decoration: none;
}

body{
    background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);    
}

h1{
    color: #7044FD;
    font-family: 'Dancing Script', cursive;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    margin-bottom: 100px;
}

h3{
    font-size: 1.5rem;
    text-align: center;
    font-family: 'Advent Pro', sans-serif;
    font-weight: 500;
    margin-top: 10px;
}

h2{
    font-size: 2.5rem;
    text-align: center;
    color: #7044FD;
    font-family: 'Dancing Script', cursive;
    margin: 70px 0;
}

p{
    font-size: 1.8rem;
    font-family: 'Advent Pro', sans-serif;
    text-align: center;
    margin-bottom: 50px;
}
/************Section 1***************/
.section1{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.section1 .pages{
    margin: 30px 20px;
}
.section1 img{
    height: 200px;
    width: 250px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.397);
    transition: 0.8s;
    cursor: pointer;
}

.section1 img:hover{
    transform: scale(1.07);
}

/***********Section 2***********/
.section2 img{
    height: 250px;
    width: 300px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    cursor: pointer;
}

.position{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}
.bordure{
    height: auto;
    width: 300px;
    background: white;
    margin-bottom: 30px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.397);
    transition: 0.8s;
    padding-bottom: 20px;
}

.bordure:hover{
    transform: scale(1.07);
}

/***********Section 3*********/
.section3{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.section3 img{
    height: 150px;
    width: 245px;
    object-fit: center/cover;
    border-radius: 15px 15px 0 0;
    cursor: pointer;
}

.bordure2{
    height: auto;
    width: 245px;
    background: white;
    margin-bottom: 30px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.397);
    transition: 0.8s;
    padding-bottom: 20px;
}

.bordure2:hover{
    transform: scale(1.07);
}

.section3 h3{
    margin-top: 15px;
    font-size: 1.5rem;

}


@media screen and (max-width: 412px){
    h1{
        text-align: center;
    }
}
@media screen and (min-width: 609px){
    .bordure{
        margin-bottom: 70px;
    }
    
}
    